html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #2a3f5d;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

body::after {
    content: '';
    flex-grow: 1;
}

body {
    display: flex;
    flex-direction: column;
  }

.navbar {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navbar a {
    position: relative;
    text-align: center;
    color: white;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 23px;
}

.navbar a:hover {
    background-color: #253551;
    color: white;
    border-radius: 11px;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 80px; /* Increased gap between boxes */
    padding: 5%; /* Space around the entire grid */
    justify-content: center;
    align-items: start;
    max-width: 1200px; /* Or the max-width you prefer */
    margin: auto; /* This will center your grid on the page */
}

.video-box {
    width: 320px; /* Adjust width as necessary */
    height: 180px; /* Adjust height as necessary */
    position: relative; /* Position relative if you want to absolutely position elements inside */
    overflow: hidden; /* Ensure no content spills out */
  }
  
  .video-box img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the box without stretching */
  }
  
.container {
    flex-grow: 1; /* Takes up all available space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    justify-content: flex-start; /* Align content to the top */
    padding-top: 100px; /* Increase this value to move the grid down */
    padding-bottom: 50px; /* Adjust bottom padding if needed */
}