<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tesla Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/thesis.css') }}">
    </head>
    <body>
        <div class = "navbar">
            <a href="{{ url_for('index') }}">Portfolio</a>
            <a href="{{ url_for('thesis') }}">Thesis</a>
            <a href="{{ url_for('videos') }}">Videos</a>
        </div>

        <video width="1280" height="720" autoplay muted loop>
            <source src="{{ url_for('static', filename='/videos/fsd_clip.webm') }}" type="video/webm">
        </video>

        <div class="thesis-button">
            <a href="{{ url_for('download_thesis') }}" class="btn-download">Download Thesis</a>
        </div>

    </body>
</html>