<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tesla Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/videos.css') }}">
    </head>
    <body>
        <div class = "navbar">
            <a href="{{ url_for('index') }}">Portfolio</a>
            <a href="{{ url_for('thesis') }}">Thesis</a>
            <a href="{{ url_for('videos') }}">Videos</a>
        </div>
        
        <div class="container">
            <div class="video-grid">
                <!-- Video boxes will be populated here -->
                {% for video in videos %}
                    <div class="video-box">
                        <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">
                            <img src="{{ video.snippet.thumbnails.high.url }}" alt="{{ video.snippet.title }}">
                        </a>
                        <div class="video-title">
                            <a href="https://www.youtube.com/watch?v={{ video.id.videoId }}" target="_blank">
                                {{ video.snippet.title }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>           
    </body>
</html>