<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/x-icon" href="/static/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tesla Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/videos.css') }}">
    </head>
    <body>
        <div class = "navbar">
            <a href="{{ url_for('index') }}">Portfolio</a>
            <a href="{{ url_for('thesis') }}">Thesis</a>
            <a href="{{ url_for('videos') }}">Videos</a>
        </div>
    </body>
</html>